# Compilados
*.class

# Logs
*.log

# Archivos temporales
*.tmp
*.swp
*.bak
*.swo
*~

# Carpetas de build
/build/
/dist/
/target/
/out/
/bin/

# IDE
.idea/
*.code-workspace

# NetBeans
/nbproject/private/
/rbbuild/
/nbdlist/
/.nb_gradle/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Entornos virtuales
.venv/
venv/
env/

# Dependencias descargadas (NO los .jar de lib/)
/node_modules/
